.container_title {
  background: white;
  text-align: center;
}

.container_title .title {
  font: bold 2.375em/1.75em "montserrat", sans-serif;
  text-transform: uppercase;
  color: #323333;
  letter-spacing: 0.06em;
}

.container_title .text {
  font: 1.125em/1.75em "merriweather";
  text-transform: uppercase;
  color: #848585;
  letter-spacing: 0.06em;
}


/*//_____BANNER_____//*/

.banner .container {
  background-color: #eff0f2;
}

.banner_title {
  text-align: center;

  font: bold 2.813em/1.75em "montserrat", sans-serif;
  text-transform: uppercase;
  color: #505050;
  letter-spacing: 0.06em; /*расстояние между буквами*/
}

.banner_title p span {
  background: #b2f2ee;
}

.button {
text-align: center;
}

.button_link {
  font: 1.125em/1.75em "montserrat", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #6c6c6d;
  text-align: center;
 
  background-color: #eff0f2;
  border: 1px solid #6c6c6d;
  border-radius: 3px;
  /*word-wrap: break-word; содержимое помещается в контейнер
	word-break: break-all;*/
}


/*//_____ABOUT_____//
*/

.box_title {
  font: bold 1.25em/1.75em "merriweather";
  text-transform: uppercase;
  color: #646565;
  letter-spacing: 0.06em;

    background: white;
}

.box_text {
  font: 1em/1.75em "Raleway", sans-serif;
  color: #646565;
  letter-spacing: 0.05em;

    background: white;
}

/*//_____SERVICES_____//
*/

.wrap_box1 {
  background-color: #71f5ea;
}

.top_fon {
  background-color: rgba(0,0,0,.4);
}

.designing_title {
  font: bold 1.25em/1.813em "merriweather";
  text-transform: uppercase;
  color: #f8f8f8;
  letter-spacing: 0.05em;
}

.designing_text {
  font: 1em/1.563em "Raleway", sans-serif;
  color: #f1f1f1;
  letter-spacing: 0.06em;
}

.designing_link {
    font: 1.125em/1.563em "Raleway", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #dedfdf;
}


