body {
  margin: 0;
  padding: 0;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/*.header, .banner, .about {
  box-sizing: border-box;
}*/

.container {
  box-sizing: border-box;
  max-width: 1440px; /*из фотошопа*/
  margin: 0 auto; /*отступ по вертикали о, и центрирование по горизонтали*/
  padding-left: 150px;
  padding-right: 150px;
}

.container_title {
  box-sizing: border-box;
  padding-top: 125px;
  padding-bottom: 125px;
}

img {
  width: 100%; /*картинка всегда не выходит за рамки контейнера*/
  max-width: 100%; /*картинка всегда не превышает своего истинного размера*/
}

.clearfix {
  display: block;
  clear: both; /*отменяем обтекание слева и справа*/
}

/*//_____BANNER_____//
*/
.banner .container {
  /*overflow: auto;*/
  padding-top: 200px;
  padding-bottom: 135px;
}

.banner_title {
  box-sizing: border-box;
  padding-bottom: 145px;
}

.button {
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  /*margin: 1em auto;*/
  padding-top: 1em;
  padding-bottom: 1em;
}

.button_link {
  /*display: block;*/
  box-sizing: border-box;
  min-width: 100px;
  max-width: 225px;
  padding: 1.25em 2.813em;
}

.banner_img {
  display: block;
  float: right;
  width: 10%;
  margin-top: -30px;
  margin-right: 20px;
}

/*//_____ABOUT_____//
*/

.box_about {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.box_carousel {
  display: block;
  float: left;
  width: 50%;
  /*margin-top: -30px;
  margin-right: 20px;*/
}


.box_content {
  display: block;
  float: right;
  width: 50%;

  box-sizing: border-box;
  padding-left: 55px;
}

/*//_____WORKS_____//
*/

.wrap_works {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 13px;
}

/*//_____SERVICES_____//
*/

.wrap_cervices {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 370px);
  grid-column-gap: 15px;
  grid-row-gap: 13px;
}

.wrap_box1 {
  grid-column-start: 1;
  grid-column-end: 8;  
  grid-row-start: 1;
  grid-row-end: 2;
}

.wrap_box2 {
  grid-column-start: 8;
  grid-column-end: 13;  
  grid-row-start: 1;
  grid-row-end: 2;
}

.wrap_box3 {
  grid-column-start: 1;
  grid-column-end: 8;  
  grid-row-start: 2;
  grid-row-end: 3;
}

.wrap_box4 {
  grid-column-start: 8;
  grid-column-end: 13;  
  grid-row-start: 2;
  grid-row-end: 3;
}

.wrap_box5 {
  grid-column-start: 1;
  grid-column-end: 6;  
  grid-row-start: 3;
  grid-row-end: 4;
}

.wrap_box6 {
  grid-column-start: 6;
  grid-column-end: 13;  
  grid-row-start: 3;
  grid-row-end: 4;
}

.wrap_box1 .designing_content {
  padding: 62px 112px 52px 65px;
}

.wrap_box2 .top_fon {
  padding: 182px 92px 56px 65px;
}

.wrap_box3 .top_fon {
  padding: 160px 195px 56px 65px;
}

.wrap_box4 .top_fon {
  padding: 160px 92px 56px 65px;
}

.wrap_box5 .top_fon {
  padding: 126px 92px 56px 65px;
}

.wrap_box6 .top_fon {
  padding: 126px 195px 56px 65px;
}

.designing_container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
}

.top_fon {
  position: absolute;
  top: 0;
}

.ellipsis {
 max-height: 50px;
overflow: hidden;
 text-overflow: ellipsis;
}

/*//_____TEAM_____//
*/

.wrap_team {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 13px;
}










